<div class="main">
	<div class ="logo">
	  <img src="#">
	  <form><input size =40px type="text" name="Bar de recherche"></form>
	</div>
	<div class ="twobars">
	<br>
	  <ul>
	    <li>Recherche Google</li>
	    <li>J'ai de la chance</li>
	  </ul>
	  <br>
	  <p>Le domainge Google est disponible en : <a href="#">Anglais</a></p>
	  </div>

</div>