<div class="footer">
	<ul>
	<li class="left">Publicite</li>
	<li class="left">Entreprise</li>
	<li class="left">A propos</li>
	<li class="right">Confidentialite</li>
	<li class="right">Conditions</li>
	<li class="right">Parametres</li>
	<li class="right">Utiliser Google.com</li>
	</ul>
</div>
