<div class="header">
	<ul>
	  <li><a href="#Gmail">Gmail</a></li>
	  <li><a href="#Images">Images</a></li>
	  <li><a href="#Image01">Image01</a></li>
	  <li><a class ="connect" href="#Connexion">Connexion</a></li>
	</ul>
</div>